@model ipma_weather_service.Models.UserViewModel

@{
    ViewData["Title"] = "GetData";
}

<div class="container">

    <form method="post">

        <div class="container">
            <div class="form-group col-md-offset-3 col-md-5">
                <h2>Get the forecast data for the day in all cities in Portugal</h2>
            </div>
        </div>
        <div class="container">
            <div class="form-group col-md-offset-3 col-md-5">
                <button asp-controller="IpmaWeatherService" asp-action="GetData" class="btn btn-primary">Retrieve Data</button>
            </div>
        </div>
    </form>

</div>

